.buttonGroup {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.buttonGroup > button {
  width: 100px;
  margin-top: 1.2rem;
}

.imgContainer {
  position: relative;
}

.heart {
  background: url(./images/heart-icon.png) center no-repeat;
}
.brokenHeart {
  background: url(./images/broken-heart.png) center no-repeat;
}

.heart,
.brokenHeart {
  background-size: contain;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%);
  z-index: 2;
  opacity: 0;
  animation: fadeInOut 1s linear;
}

@media screen and (min-width: 768px) {
  .imgContainer > img {
    width: 295px;
    height: 295px;
    object-fit: contain;
  }
}


@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
  
}